doctype html
html(lang="en")
    head
        block title
            title Page
        include ../partials/head
        include ../partials/variables
    body
        block content

        include ../partials/footer